*{
    font-family: 'Roboto', sans-serif;
}
body{
    padding: 0;
    margin: 0;
    background-color: #000000;
}
header{
    background-color: #ffffff;
}
.feed, .container{
    width: 600px;
    margin: auto;
}
.post-layout{
    background-color: aliceblue;
    margin: 10px auto 10px auto;
}
.post-header{
    padding: 10px;
}
.post-title{
    display: inline-block;
    width: 80%;
    margin: 0;
}
.post-date{
    display: inline-block;
    width: 20%;
    margin: 0;
}
h1, img{
    text-align: center;
    width: 100%;
    margin: 0;
}
.post-description{
    padding:0 0 10px 10px;
}
p{
margin: 0;
}