*{
    font-family: 'Roboto', sans-serif;
}
body{
    padding: 0;
    margin: 0;
    background-color: #000000;
}
header{
    background-color: #ffffff;
}
.feed, .container{
    width: 600px;
    margin: auto;
}
.post-layout{
    background-color: aliceblue;
    margin: 10px auto 10px auto;
}
.post-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.profile-img{
    text-align: center;
    width: 10%;
    font-size: 25px;
}
.user-info{
    text-align: start;
    width: 20%;
    font-size: 12px;
}
.more-info{
    text-align: end;
    width: 70%;
    font-size: 25px;
    cursor: pointer;
}
.post-interaction{
    display: grid;
    grid-template-columns: 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% 6%;
    width: 100%;
    font-size: 25px;
    padding-bottom: 10px;
}
h1, img{
    text-align: center;
    width: 100%;
    margin: 0;
}
.post-footer{
    padding:10px;
}
p,h2{
    margin: 0;
}
.post-footer p{
margin: 10px 0 0 0;
}
.fa-bookmark{
    grid-column-start:17;
    justify-content: left;
}
.post-interaction i{
    cursor: pointer;
}